<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint 2/3 - Project</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Consumindo a API do IBGE</h1>
        <div>
            <label for="sexo">Selecione o sexo:</label>
            <select name="sexo" id="sexoSelect">
                <option value="U" selected>Ambos</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div>
            <label for="nameSelect">Digite um nome:</label>
            <input id="nameSelect" type="text" placeholder="Digite o nome">
        </div>
        <button onclick="getIBGE()">BUSCAR</button>

        <table>
            <thead>
                <tr>
                    <th>Nome: </th>
                    <th id="pesquisa"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script type="module" src="./../app.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>